.image{
    transition: opacity 1
}

/*General attributes/elements styling*/
h1{
    color: cornflowerblue;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

table{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

p{
  font-family: 'Alata', sans-serif;
}

/*SCOREBOARD STYLING*/
table, th, tr, td, h4{
  
  font-family: 'Alata', sans-serif;
}

td {
  border: 1px solid cornflowerblue;
  font-weight: 100;
}



/*STYLING THE TWEET HEADER*/
.tweet_head{ /*DIV containing the profile pic, handle, and @*/
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 7%;
}

.tweet_head_image{ /*tweet profile pic*/
  max-width: 10%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.twitter_handle{/*twitter handle styling*/
  font-family: 'Alata', sans-serif;
  display: flex;    
  flex-direction: column;
  overflow: hidden;
  margin-top: 0;
}

.twitter_at_div{
  display: block;
  margin-left: 1%;
  padding-top: 5px;
}

.twitter_at{/*twitter @*/
  color: darkgrey;
  opacity: .8;
  margin-top: -2px;
}
/*END TWEET HEADER STYLING*/


/*STYLING ID'S*/
#logoImage{
  width: 25%;
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#scoreboard{
  opacity: 0;
  transition: opacity 6s;
}

#card_container{
  transition: opacity 3s;
}
/*Text for left tweet card*/
#left_tweet_p{
    font-size: 36px;
    /*color: #F4B41A;*/
    padding: 10px;
}

/*Text for right tweet card*/
#right_tweet_p{
    font-size: 36px;
    /*color: rgb(86, 165, 255);*/
    padding: 10px;
}

/*Have content fade in after rounds are entered*/
#contentWrapper{
  opacity: 0;
  transition: opacity 10s;
}

#logoImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#correct{
  text-align: center;
  padding-top: 75vH;
  font-family: 'Alata', sans-serif;
}

.button{
  background-color: cornflowerblue;
  border-radius: 70px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Alata', sans-serif;
  cursor: pointer;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 38%;
  box-sizing: border-box;
}

/*Card class and container class CSS referenced from  W3 Schools: https://www.w3schools.com/howto/howto_css_cards.asp*/
.card {
    display: inline-block;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: solid rgb(86, 165, 255) 1px;
    transition: 0.2s;
    width: 40%;
    height: 60vH;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 100px;
  }
  
  /*card psuedo class that adds box shadow on hover*/
  .card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    margin: 2px 100px;
  }

  .right{
    right: 0;
  }

  .left{
    left: 0;
  }